<legend>
  Aby dodać nowy projekt należy wypełnić poniższy formularz.
</legend>
<form [formGroup]="newProject" (ngSubmit)="createProject()" novalidate>
  <fieldset>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="name">
        Nazwa projektu
      </label>
      <div class="col-md-5">
        <input id="name" type="text" class="form-control" formControlName="name"
                  [ngClass]="{'is-invalid': isInvalid(name)}" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="description">
        Dodatkowy opis projektu
      </label>
      <div class="col-md-5">
        <textarea id="description" class="form-control" formControlName="description"
                  [ngClass]="{'is-invalid': isInvalid(description)}"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-md-2 col-md-10">
        <button type="submit" class="btn btn-primary">
          Stwórz
        </button>
      </div>
    </div>
  </fieldset>
</form>
